[submodule "modules/fangz"]
	path = modules/fangz
	url = https://github.com/jassielof/fangz
[submodule "modules/vereda"]
	path = modules/vereda
	url = https://github.com/jassielof/vereda
[submodule "modules/tarea"]
	path = modules/tarea
	url = https://github.com/jassielof/tarea
