[submodule "modules/fangz"]
	path = modules/fangz
	url = https://github.com/jassielof/fangz
[submodule "modules/vereda"]
	path = modules/vereda
	url = https://github.com/jassielof/vereda
[submodule "modules/carnaval"]
	path = modules/carnaval
	url = https://github.com/jassielof/carnaval
